<form autocomplete="off" id="create" class="form-horizontal" action="javascript:create();" method="POST">
	<div class="form-group">
			<label class="control-label col-sm-2" for="userName">Username:</label>
			<div class="col-sm-4 center-block">
			  	<input type="textarea" class="form-control center-block" id="input1" name="user" placeholder="Enter username" autocomplete="off">	
			</div>
			<label hidden class="text-danger" id="takenUser">Username taken!</label>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="password">Password:</label>
			<div class="col-sm-4 center-block"> 
			  	<input type="password" class="form-control center-block" id="input2" name="pass" placeholder="Enter password" autocomplete="off">
			</div>
			<label hidden class="text-danger" id="wrongPass">Password must contain at least 8 letters, 1 capital letter and a number!</label>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="password">Confirm:</label>
			<div class="col-sm-4 center-block"> 
			  	<input type="password" class="form-control center-block" id="input3" name="pass" placeholder="Enter password" autocomplete="off">
			</div>
			<label hidden class="text-danger" id="confirmPass">Passwords do not match!</label>
		</div>
	<div class="form-group"> 
		<div class="col-m		 center-block">
		  	<button id="createButton" type="submit" class="btn btn-default">Create</button>
		</div>
	</div>
</form>