<form id="login" class="form-horizontal" action="javascript:login();" method="POST">
	<div class="form-group">
		<label class="control-label col-sm-2" for="userName">Username:</label>
		<div class="col-sm-4 center-block">
		  	<input type="textarea" class="form-control center-block" id="userName" name="user" placeholder="Enter username">	
		</div>
		<label hidden class="text-danger" id="wrongUser">Incorrect username!</label>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2" for="password">Password:</label>
		<div class="col-sm-4 center-block"> 
		  	<input type="password" class="form-control center-block" id="password" name="pass" placeholder="Enter password">
		</div>
		<label hidden class="text-danger" id="wrongPass">Incorrect password!</label>
	</div>
	
	<div class="form-group"> 
		<div class="col-md-4 center-block">
		  	<button id="loginButton" type="submit" class="btn btn-default">Login</button>
		</div>
		<div class="col-md-4 center-block">
		  	<a href="/create" class="btn btn-default" role="button">Create User</a>
		</div>
	</div>
</form>