<!-- views/partials/header.ejs -->
<script src="/js/online.js"></script>

<script type="text/javascript">
    //users online
    var socket = io.connect();
    socket.on('userCount',function(data){
        console.log(data);
        $('#userCount').text("Online: " + data);
    });
</script>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=/index>TanGO!</a>
    </div>
    <a id="userCount" class="navbar-brand navbar-right">Online: #</a>
    <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
        <li><a href="/profile"><%= username %></a></li>
        <li><a href="/">Logout</a></li>
    </ul>
  </div>
</nav>