<h3 id="questionWord">English: </h3>
<form id="submitAnswer"><input id="answer" autocomplete="off"/><button id="checkBtn">Check</button></form>
<script>
	//passing the data to the included js
	var data = <%- JSON.stringify(rows) %>;
</script>
<script src="/js/quiz.js"></script>
<h3 id="check">...</h3>


