<form name="levelChange" action="/test" method="post">
	<select class="form-control" name="selectPicker">
		<option value="year9">Year 9</option>
		<option value="year11">Year 11</option>
	</select>
	<input type="submit" value="Select">
</form>


