<!-- views/partials/table_admin.ejs -->

<table id ="tableSort" class="sortable table table-striped">
<thead>
<tr>
    <td><b>User</b></td>
    <td><b>Date</b></td>
    <td><b>Year Level</b></td>
    <td><b>Questions correct/Total</b></td>
    <td><b>Score (%)</b></td>
</tr>
</thead>

<tbody>
    <% data.forEach(function(row) { %>
    <tr>
        <td><%= row.username %></td>
    	<td sorttable_customkey="200802111319"><%= row.date %></td>
    	<td><%= row.year %></td>
        <td><%= row.score %>/<%= row.questions %></td>
        <td><%- Number(((row.score/row.questions) * 100).toFixed(1)) %>%</td>

    </tr>
    <% }); %>
</tbody>
</table>
