body
{
	font-family: Verdana, Geneva, sans-serif;
	background-color: rgba(0,0,230,0.7);
	padding-top:50px; 
}

.footer
{
	text-align: center;
	color: #FFFFFF;
}

#questionWord
{
	color: rgba(0,0,230,0.7);
	font-weight: bold;
}

#loginDiv
{
	text-align: center;
}

#login
{
	margin: 0 auto;
	float: none;

}

.text-danger{
	margin-top: 5px;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

@media (max-width: 800px){

	.jumbotron{
		margin-left: 5%;
		margin-right: 5%;
	}
}
