<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TanGO! - About</title>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>       
    </header>

    <main>
        <div class="row">
            <div class="col-sm-12">
            
                <div class="jumbotron">
                    <h1>TanGO! The Japanese Quiz</h1>
                    <p>TanGO! is a Japanese vocabulary application where high school students can learn varying levels of vocabulary and increase their skills in Japanese.</p>
                </div>
                
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>