<!-- views/pages/login.ejs -->

<!DOCTYPE html>
<html>
	<head>
		<title>TanGo! - Create User</title>
		<% include ../partials/head %>
	</head>

	<body>
		<div class="container">
			<div id="loginDiv" class="jumbotron">
				<h1>Create User</h1>
				<% include ../partials/createUser %>				
			</div>
		</div>
	<script type="text/javascript">
		var socket = io.connect();
		var pattern = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d).+$");
		var check = false;

		function create(){
			$("#takenUser").hide();
			$("#wrongPass").hide();
			$("#confirmPass").hide();

			console.log("hey I made it here!");
			var userName = $('#input1').val();
			var password = $('#input2').val();
			var password2 = $('#input3').val();
			if(password == password2){
				check = pattern.test(password);
				console.log(check);

				if(check == true){
					socket.emit('createUser',{
						username: userName,
						password: password
					});
				}
				else{
					$("#wrongPass").show();
				}


				socket.on('userCheck',function(response){
					if(response == true){
						console.log("everything all good");



						$("#create").attr("action","/");
						console.log($("#create").attr("action"));
						$("#create").submit();
						return true;
					}
					else{
						console.log("username taken");
						$("#takenUser").show();
					}
				});

			}
			else{
				$("#confirmPass").show();
			}
			

		}
	</script>
	</body>
</html>