<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TanGO! - Home</title>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <script type="text/javascript">
    var socket = io.connect();

    socket.on('userCount',function(data){
        console.log(data);
    });

    </script>

    <main>
        <div class="jumbotron">
            <h1>Select a Level:</h1>
            <br>
            <% include ../partials/select %>
        </div>




    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>