<!-- views/pages/login.ejs -->

<!DOCTYPE html>
<html>
	<head>
		<title>TanGo! - Login</title>
		<% include ../partials/head %>
	</head>
	<script type="text/javascript">
		var socket = io.connect();
		
		function login(){
			var userName = $('#userName').val();
			var password = $('#password').val();
			
			socket.emit('login',{
				username: userName,
				password: password
			});
			$("#wrongPass").hide();
			$("#wrongUser").hide();

			socket.on("userCheck",function(response){
				if(response == true){
					console.log("the response is true");
					checkPassword(password);
				}
				else{
					$("#wrongUser").show();				

				}
			});
		}
		function checkPassword(password){
			console.log("before socket");
			socket.on("passwordCheck",function(response){
				console.log('im here ;D');
				if(response == true){

					$("#login").attr("action","/index");
					console.log($("#login").attr("action"));
					$("#login").submit();
					return true;
				}
				else{
					console.log("wrong password!");
					$("#wrongPass").show();				
				}
			});
		}

	</script>
	<body>
		<div class="container">
			<div id="loginDiv" class="jumbotron">
				<h1>TanGO! The Japanese Quiz</h1>
				<% include ../partials/form %>

				
			</div>
		</div>
	</body>
</html>