<!-- views/pages/scores.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TanGO! - Scores - <%= username %></title>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <script type="text/javascript">
    var socket = io.connect();

    socket.on('userCount',function(data){
        console.log(data);
    });

    </script>

    <main>
        <div class="jumbotron">
            <h1>Quiz History</h1>

            <% include ../partials/table %>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>