<!-- views/pages/test.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TanGO! - Year <%= levelNumber %> Quiz </title>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
   <main>
        <script type="text/javascript">
            var userInfo = <%- JSON.stringify(userInfo) %>;
            var year = <%= levelNumber %>;

            //date
            var monthNames = [
              "January", "February", "March",
              "April", "May", "June", "July",
              "August", "September", "October",
              "November", "December"
            ];
            var date = new Date();
            var day = date.getDate();
            var monthIndex = date.getMonth();
            var hour = date.getHours();
            var min = date.getMinutes();
            if(min < 10){
                min = "0" + String(min);
            }

            var formattedDate = String(day + " " +  monthNames[monthIndex] + " " + hour + ":" + min);
            console.log(formattedDate);


        </script>
        <script src="/js/setup.js"></script>


        <div id="prep" class="jumbotron text-center">
            <h1>Year <%= levelNumber %></h1>         
                <h4 id="chooseAmount">Amount of questions: Choose between 5 and 20.</h4>
                <br>
                <input id="amountQuestions" type="text" name="amount" autocomplete="off" maxlength="2" onkeypress="return enterQuiz(event)" >
                <button id="startButton" type="button" onclick="startQuiz()">Start Quiz</button> 
                     
        </div>

        <div id="quiz" class="jumbotron text-center" style="display: none;">
            <% include ../partials/question %>
        </div>

        <div id="resultDiv"class="jumbotron text-center" >
        <script type="text/javascript">
            $('#resultDiv').toggle(); 
        </script>
            <% include ../partials/result %>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>